<script setup lang="ts">
  import { isRef, ref, toRefs, type PropType, type Ref } from 'vue';
  import useSWRV from 'swrv'
  import type { OpenWeatherCurrentWeatherResponse } from '../types';
  import WeatherCard from './WeatherCard.vue';
  import { computed } from '@vue/reactivity';

  type WeatherData = {
    city: string,
    celsius: number,
    narrative: string,
    icon: string
  }

  const props = defineProps({
    city: {
      type: String as PropType<string>,
      required: true
    },
    lang: {
      type: String as PropType<string>,
      required: false,
      default: 'en'
    }
  });

  function useOpenWeatherApi(city: Ref<string> | string) {
    const cityRef = isRef(city) ? city : ref(city);
    const lastSync = ref<Date | undefined>();

    const FIVE_MINUTES_IN_MILISECONDS = 1000 * 60 * 5;
    
    const { data: weather, error } = useSWRV<WeatherData>(() => `http://cms.local/api/weather?q=${cityRef.value}&lang=${props.lang}`, async key => {
      const response = await fetch(key);
        if (!response.ok) throw new Error(response.statusText);

        const data = await response.json() as OpenWeatherCurrentWeatherResponse;
        lastSync.value = new Date();
        return {
          celsius: Math.round(data.main.temp - 273.15),
          city: cityRef.value,
          narrative: data.weather[0].description,
          icon: `http://openweathermap.org/img/wn/${data.weather[0].icon}@4x.png`
        } 
    }, { refreshInterval: FIVE_MINUTES_IN_MILISECONDS, revalidateOnFocus: false });

    const isLoading = computed(() => weather.value === undefined && !error.value);

    return { weather, isLoading, error, lastSync }
  }

  const { weather, isLoading, error, lastSync } = useOpenWeatherApi(toRefs(props).city)
</script>

<template>
	<div v-if="isLoading">Loading...</div>
  <WeatherCard 
    v-if="weather" 
    :city="props.city" 
    :temperature="weather.celsius" 
    :narrative="weather.narrative"
    temperature-units="°C"
  >
    <template v-slot:icon>
      <img :src="weather.icon" :alt="`icon of ${weather.narrative}`" />
    </template>
  </WeatherCard>
  <small v-if="error">
    Something went wrong. 
    <template v-if="lastSync">Last update at {{ lastSync.toLocaleTimeString() }}</template>
  </small>
</template>
