<script setup lang="ts">
  // const narrative = ['one', 'two'] as const;
  // const n = {
  //   'thunderstorm with light rain': 'icon2.png'
  // }

  // type Narrative = typeof narrative[number];

  defineProps<{
    city: string,
    temperature: number,
    temperatureUnits: string,
    narrative: string
  }>()

// defineProps<{
//   city: string,
//   gps: {
//     lat: string,
//     long: string
//   },
//   temperature: number,
//   temperatureUnits: string,
//   narrative: string, // TODO: list of string literals from OpenAPI...
//   icon: string // TODO: ...then icon doesn't need to be provided, the map narrative -> icon will be part of this component
// }>()
</script>

<template>
	<div class="p-6 bg-white shadow-md rounded-xl w-full sm:w-72">
    <div class="text-center text-2xl font-semibold first-letter:uppercase">{{ narrative }}</div>
    <div class="text-center text-lg mt-2 mb-6">{{ city }}</div>
    <div class="flex items-center">
      <div class="-m-4">
        <slot name="icon"></slot>
      </div>
      <div class="text-center text-5xl font-bold">{{ temperature }}{{ temperatureUnits }}</div>
    </div>
	</div>
</template>
